<app-home></app-home>
<hr />
<h3 class="mt-5 mb-3">Todo List</h3>

<!-- Loader -->
<div *ngIf="loading$ | async" class="text-center my-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Loading todos...</p>
</div>

<!-- table for todos -->
<table
  class="table table-hover table-vcenter text-nowrap"
  *ngIf="!(loading$ | async)"
>
  <thead>
    <tr>
      <th>Todo Id</th>
      <th>Title</th>
      <th>Completed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="
        let todo of (todos$ | async) || []
          | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage }
      "
    >
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>
      <td>
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="todo.completed"
          disabled
        />
      </td>

      <td>
        <button
          class="btn btn-sm btn-success mx-1"
          [routerLink]="['/todo', todo.id]"
        >
          View
        </button>

        <button
          class="btn btn-sm btn-warning mx-1"
          [routerLink]="['/edit', todo.id]"
        >
          Edit
        </button>

        <button
          class="btn btn-sm btn-danger mx-1"
          (click)="deleteTodo(todo.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center my-3" *ngIf="!(loading$ | async)">
  <pagination-controls
    (pageChange)="currentPage = $event"
    class="pagination justify-content-center"
    [maxSize]="5"
    [directionLinks]="true"
    [autoHide]="true"
  ></pagination-controls>
</div>
